<?xml version="1.0"?>
<robot name="wamv" xmlns:xacro="http://ros.org/wiki/xacro">

    <!--This operates in std frame-->
    <link name="base_link">
        <visual>
            <origin xyz="0.0 -0 -0" rpy="0.0 0.0 0"/>
            <geometry>
                <mesh filename="package://wamv_description/mesh/wamv_base.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>

    <link name="cg_link"/>
    <joint name="cg_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="cg_link"/>
    </joint>
   
    <link name="multibeam"/>
    <joint name="multibeam_joint" type="fixed">
        <origin xyz="0.0 0.0 -0.1" rpy="-1.57 .785 -1.57"/>
        <parent link="base_link"/>
        <child link="multibeam"/>
    </joint>

    <link name="laserscanner_1"/>
    <joint name="laserscanner_1_joint" type="fixed">
        <origin xyz="0.0 0.0 0.1" rpy="0 -0.0 4.712389"/>
        <parent link="base_link"/>
        <child link="laserscanner_1"/>
    </joint>

    <link name="laserscanner_3"/>
    <joint name="laserscanner_3_joint" type="fixed">
        <origin xyz="0.0 0.0 0.1" rpy="0 -0.08726646 4.712389"/>
        <parent link="base_link"/>
        <child link="laserscanner_3"/>
    </joint>
    
    <link name="laserscanner_5"/>
    <joint name="laserscanner_5_joint" type="fixed">
        <origin xyz="0.0 0.0 0.1" rpy="0 -0.1745329 4.712389"/>
        <parent link="base_link"/>
        <child link="laserscanner_5"/>
    </joint>

    <link name="laserscanner_7"/>
    <joint name="laserscanner_7_joint" type="fixed">
        <origin xyz="0.0 0.0 0.1" rpy="0 -0.2617994 4.712389"/>
        <parent link="base_link"/>
        <child link="laserscanner_7"/>
    </joint>

    <link name="laserscanner_9"/>
    <joint name="laserscanner_9_joint" type="fixed">
        <origin xyz="0.0 0.0 0.1" rpy="0 -0.3490659 4.712389"/>
        <parent link="base_link"/>
        <child link="laserscanner_9"/>
    </joint>


    <link name="imu"/>
    <joint name="imu__sf_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="imu"/>
    </joint>
    
    <link name="gps"/>
    <joint name="gps_joint" type="fixed">
        <origin xyz="0.0 0.0 0.28" rpy="3.1415926 0.0 -1.5707963"/>
        <parent link="base_link"/>
        <child link="gps"/>
    </joint>
</robot>