<?xml version="1.0"?>
<robot name="alpha_std" xmlns:xacro="http://ros.org/wiki/xacro">

    <!--This operates in std frame-->
    <link name="base_link">
        <visual>
            <origin xyz="0.0 -0 -0" rpy="0.0 0.0 0"/>
            <geometry>
                <mesh filename="package://wamv_description/mesh/wamv_base.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>

    <link name="cg_link"/>
    <joint name="cg_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="cg_link"/>
    </joint>
   
    <link name="multibeam"/>
    <joint name="multibeam_joint" type="fixed">
        <origin xyz="0.0 0.0 -0.1" rpy="-1.57 .785 -1.57"/>
        <parent link="base_link"/>
        <child link="multibeam"/>
    </joint>

    <link name="imu_sf"/>
    <joint name="imu__sf_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="imu_sf"/>
    </joint>
    
    <link name="gps"/>
    <joint name="gps_joint" type="fixed">
        <origin xyz="0.0 0.0 0.28" rpy="3.1415926 0.0 -1.5707963"/>
        <parent link="base_link"/>
        <child link="gps"/>
    </joint>
</robot>