<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.
    Author: Tony Jacob
    Email: tony.jacob@uri.edu
    Year: 2023
    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<scenario xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find wamv_stonefish)/description/looks.scn.xacro"/>
    <xacro:include filename="$(find wamv_stonefish)/description/materials.scn.xacro"/>

    <xacro:macro name="wamv" params="xyz rpy robot_name">
        <robot name="${robot_name}" fixed="false" self_collisions="false">

           
            <base_link name="Vehicle" type="compound" physics="submerged">
                <external_part name="base" type="model" physics="submerged" buoyant="true">
                    <physical>
                        <mesh filename="wamv_base.obj" scale="0.0045"/>
                        <origin rpy="3.14 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    </physical>
                    <visual>
                        <mesh filename="wamv_base.obj" scale="0.0045"/>
                        <origin rpy="3.14 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    </visual>
                    <material name="Vehicle"/>
                    <look name="yellow"/>
                    <mass value="50"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <cg xyz=" 0.0 0 1.0" rpy="0.0 0.0 0.0"/>
                </external_part>

                <external_part name="engine_starboard" type="model" physics="submerged" bouyant="true">
                    <physical>
                        <mesh filename="engine.obj" scale="0.5"/>
                        <origin rpy="3.14 0 0" xyz="-1 .45 -.2"/>
                    </physical>
                    <visual>
                        <mesh filename="engine.obj" scale="0.5"/>
                        <origin rpy="3.14 0 0" xyz="-1 .45 -.2"/>
                    </visual>
                    <material name="Vehicle"/>
                    <look name="yellow"/>
                    <mass value="10"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <cg xyz=" 0.0 0 1.0" rpy="0.0 0.0 0.0"/>
                </external_part>

                <external_part name="engine_port" type="model" physics="submerged" bouyant="true">
                    <physical>
                        <mesh filename="engine.obj" scale="0.5"/>
                        <origin rpy="3.14 0 0" xyz="-1 -.45 -.2"/>
                    </physical>
                    <visual>
                        <mesh filename="engine.obj" scale="0.5"/>
                        <origin rpy="3.14 0 0" xyz="-1 -.45 -.2"/>
                    </visual>
                    <material name="Vehicle"/>
                    <look name="yellow"/>
                    <mass value="10"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <cg xyz=" 0.0 0 1.0" rpy="0.0 0.0 0.0"/>
                </external_part>
            </base_link>

            <!-- the actual base frame  -->
            <link name="Base" type="box" physics="submerged">
                <dimensions xyz="0.01 0.02 0.01"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <material name="Neutral"/>
                <look name="Green"/>
            </link>
            
            <joint name="Joint1" type="fixed">
                <parent name="Vehicle"/>
                <child name="Base"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <axis xyz="1.0 0.0 0.0"/>
            </joint>

            <world_transform rpy="${rpy}" xyz="${xyz}"/>

        </robot>
    </xacro:macro>

</scenario>