<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Tony Jacob
    Email: tony.jacob@uri.edu
    Year: 2023

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<launch>

    <arg name="robot_name" default="wamv"/>

    <!--
        List of the simulated worlds in the 'alpha_std_stonefish'
    -->
    <arg name="scenario" default="iceberg"/>

    <include file="$(find wamv_stonefish)/launch/simulation.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="scenario" value="$(arg scenario)"/>
    </include>

    <!-- load urdf vehicle description -->
    <include file="$(find wamv_bringup)/launch/include/description.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- load localization setup -->
    <include file="$(find wamv_bringup)/launch/include/localization.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="is_sim" value="true"/>
    </include>
    
    <!-- load preconfigured rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find wamv_bringup)/rviz/config.rviz" />

    <node type="joy_node" name="joy_node" pkg="joy"/>

</launch>
